/* ==================================
   #APPUNIVERSUM
   ================================== */

/**
 * A design universe for Flanders GOV applications
 */

/**
 * CONTENTS
 * ---
 * SETTINGS: Project settings and variables
 * TOOLS: Mixins
 * GENERIC: Reset, global box-sizing and font-styles
 * ELEMENTS: Plain html tag styling
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 */


// VARIABLES
@import "appuniversum/s-colors.scss";
@import "appuniversum/s-global";
@import "appuniversum/s-utilities";


// MIXINS
@import "appuniversum/t-font-size";
@import "appuniversum/t-sass-mq";


// GENERIC
@import "appuniversum/g-reset";
@import "appuniversum/g-box-sizing";
@import "appuniversum/g-font";


// ELEMENTS
@import "appuniversum/e-page";


// OBJECTS
@import "appuniversum/o-box";
@import "appuniversum/o-grid";
@import "appuniversum/o-layout";
@import "appuniversum/o-region";


// COMPONENTS
@import "c-brand";
@import "c-button";
@import "c-button-link";
@import "c-link";
@import "c-icon";
@import "c-list-horizontal";
@import "c-popover";
@import "c-header";


// UTILITIES
@import "appuniversum/u-headings";
@import "appuniversum/u-font-weights";
@import "appuniversum/u-font-family";
@import "appuniversum/u-widths";
@import "appuniversum/u-spacings";
@import "appuniversum/u-responsive-spacings";
@import "appuniversum/u-print";
@import "appuniversum/u-hide";
