/* ==================================
   #APPUNIVERSUM
   ================================== */

/**
 * A design universe for Flanders GOV applications
 */

/**
 * CONTENTS
 * ---
 * SETTINGS: Project settings and variables
 * TOOLS: Mixins
 * GENERIC: Reset, global box-sizing and font-styles
 * ELEMENTS: Plain html tag styling
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * PLUGINS: Third-party styles
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 */

@import "ember-appuniversum/a-settings";
@import "ember-appuniversum/a-tools";
@import "ember-appuniversum/a-generic";
@import "ember-appuniversum/a-elements";
@import "ember-appuniversum/a-objects";
@import "ember-appuniversum/a-components";
@import "ember-appuniversum/a-plugins";
@import "ember-appuniversum/a-utilities";
