/* ==========================================================================
   #TEXT ALIGNMENT
   ========================================================================== */

/**
 * Utility classes to align text. Use text alignment like this:
 *
 *   <p class="au-u-text-right au-u-text-left@medium">
 *      text
 *   </p>
 *
 */

/* Classes
  ========================================================================== */

.au-u-text-right {
  text-align: right;
}

.au-u-text-center {
  text-align: center;
}

.au-u-text-left {
  text-align: left;
}

/* Breakpoints
  ========================================================================== */

@if (variable-exists(mq-breakpoints)) {
  @each $au-bp-name, $au-bp-value in $mq-breakpoints {
    @include mq($from: $au-bp-name) {
      .au-u-text-right\@#{$au-bp-name} {
        text-align: right;
      }

      .au-u-text-center\@#{$au-bp-name} {
        text-align: center;
      }

      .au-u-text-left\@#{$au-bp-name} {
        text-align: left;
      }
    }
  }
}
