/* ==================================
   #APP
   Global app container
   ================================== */

@use "../ember-appuniversum-deprecated" as deprecated;
@include deprecated.paths("ember-appuniversum/c-app");

.au-c-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: var(--au-white);

  @include mq(medium) {
    overflow: hidden;
  }
}
