/* ==================================
  #BODY CONTAINER
  ================================== */

@use "../ember-appuniversum-deprecated" as deprecated;
@include deprecated.paths("ember-appuniversum/c-body-container");

.au-c-body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.au-c-body-container--scroll {
  overflow: auto;
}
