/* ==================================
   #BUTTON LINK
   Button styled as a link
   ================================== */

/* Variables
   ========================================================================== */

$au-button-link-color             : $au-primary !default;
$au-button-link-hover-color       : $au-primary-light !default;
$au-button-link-active-color      : $au-primary-light !default;
$au-button-link-visited-color     : $au-primary-dark !default;
$au-button-link-active-color      : $au-primary-dark !default;
$au-button-link-underline         : $au-primary-light !default;
$au-button-link-underline-hover   : $au-primary-lighter !default;


/* Component
   ========================================================================== */

.au-c-button-link {
  @include au-font-size($au-base,1);
  font-family: $au-font;
  font-weight: $au-regular;
  padding: $au-unit-tiny;
  border: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-underline-offset: .3ex;
  text-decoration: underline;
  text-decoration-color: $au-button-link-underline;
  color: $au-button-link-color;
  background-color: transparent;
  transition: color $au-transition;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $au-button-link-hover-color;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: $au-button-link-underline-hover;
  }

  &:focus {
    outline: $au-outline;
  }

  &:active {
    background-color: transparent;
  }

  &:visited {
    background-color: transparent;
  }
}


/* Modifiers
  ========================================================================== */

// Neutral
.au-c-button-link--neutral {
  color: $au-neutral-darker;
  text-decoration-color: $au-neutral-light;

  &:hover,
  &:focus {
    color: $au-button-link-hover-color;
    text-decoration-color: $au-button-link-underline-hover;
  }
}

// Loading
.au-c-button-link--loading {
  position: relative;
}

.au-c-button-link--loading:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $au-gray-lighter;
}

.au-c-button-link--loading:after {
  content: " ";
  position: absolute;
  text-align: center;
  border: .3rem solid $au-gray-dark;
  border-top: .3rem solid $au-gray-lighter;
  border-radius: 50%;
  width: $au-unit - $au-unit-tiny;
  height: $au-unit - $au-unit-tiny;
  left: 50%;
  margin-left: -$au-unit-small;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Block
.au-c-button-link--disabled {
  background-color: $au-gray-lighter;
  color: $au-gray;
}

// Block
.au-c-button-link--block {
  width: 100%;
}




