/* ==================================
   #BUTTON-GROUP
   ================================== */

.au-c-button-group .au-c-button {
  display: inline-block;
  vertical-align: middle;
  margin-right: $au-unit-tiny;
  margin-bottom: $au-unit-tiny;
  margin-top: $au-unit-tiny;
}

.au-c-button-group .au-c-button--large {
  margin-right: $au-unit-small;
  margin-bottom: $au-unit-small;
  margin-top: $au-unit-small;

  .au-c-icon {
    vertical-align: middle;
  }
}
