/* ==================================
   #BUTTON-GROUP
   ================================== */

.au-c-button-group  {
  .au-c-button {
    margin-right: $au-unit-tiny;
  }

  .au-c-button:last-child {
    margin-right: 0;
  }
}

.au-c-button-group  {
  .au-c-button--large {
    margin-right: $au-unit-small;
  }

  .au-c-button--large:last-child {
    margin-right: 0;
  }
}


/* Modifiers
========================================================================== */

.au-c-button-group--inline {
  display: flex;
}

.au-c-button-group--inline  {
  .au-c-button {
    margin-right: -2px;
    margin-top: 0;
  }

  .au-c-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .au-c-button + .au-c-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* Active buttons within inline button groups */
.au-c-button-group--inline {
  .au-c-button:not(.is-active) {
    text-decoration: underline;
    text-decoration-color: tint($au-button-contrast-hover-color,60);
  }

  .au-c-button--secondary:not(.is-active) {
    text-decoration: underline;
    text-decoration-color: tint($au-button-secondary-hover-color,60);
    background: $au-white;
  }

  .au-c-button-link:not(.is-active) {
    text-decoration: underline;
    text-decoration-color: tint($au-button-link-hover-color,60);
  }

  .au-c-button--link.is-active {
    text-decoration: none;
  }
}
