/* ==================================
  #BODY CONTAINER
  ================================== */

.au-c-body-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.au-c-body-container--scroll {
  overflow: auto;
}
