/* ==================================
   #CONTAINER
   ================================== */

/* Variables
   ========================================================================== */

$au-container-height: calc(100vh - #{$au-unit-large - $au-unit-tiny}) !default;

/* Component
   ========================================================================== */

.au-c-container {
  height: $au-container-height;
  overflow: hidden;
  position: relative;
}

  .au-c-container__content {
    position: relative;
    height: $au-container-height;
    overflow: auto;
  }
