/* ==================================
   #CARD
   ================================== */

/* Component
  ========================================================================== */

.au-c-card {
  background-color: $au-white;
  border: 1px solid $au-gray-300;
}

.au-c-card--fill {
  height: 100%;
}

.au-c-card--flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
