/* ==================================
   #CARD
   ================================== */

/* Variables
   ========================================================================== */

$au-card-border-color                         : var(--au-gray-300) !default;
$au-card-standout-color                       : var(--au-gray-100) !default;
$au-card-radius                               : var(--au-radius) !default;

/* Component
  ========================================================================== */

.au-c-card {
  display: flex;
  flex-direction: column;
  background-color: var(--au-white);
  border: .1rem solid $au-card-border-color;
  border-radius: $au-card-radius;
  height: 100%;
}

.au-c-card--shadow {
  border: 0;
  box-shadow: 0 1px 3px rgba($au-gray-900, .1), 0 4px 20px rgba($au-gray-900, .035), 0 1px 1px rgba($au-gray-900, .025);
}

.au-c-card--standout {
  background-color: $au-card-standout-color;
  border-color: $au-card-border-color;
}

// Sizes
.au-c-card__header,
.au-c-card__content,
.au-c-card__footer {
  width: 100%;

  .au-c-card--padding & {
    padding: $au-unit;
  }

  .au-c-card--padding-small  & {
    padding: $au-unit-small;
  }

  .au-c-card--padding-tiny  & {
    padding: $au-unit-tiny;
  }
}

.au-c-card--padding:not(.au-c-card--divided) .au-c-card__content,
.au-c-card--padding-small:not(.au-c-card--divided) .au-c-card__content,
.au-c-card--padding-tiny:not(.au-c-card--divided) .au-c-card__content,
.au-c-card--padding:not(.au-c-card--divided) .au-c-card__footer,
.au-c-card--padding-small:not(.au-c-card--divided) .au-c-card__footer,
.au-c-card--padding-tiny:not(.au-c-card--divided) .au-c-card__footer {
  padding-top: 0;
}

// Divided
.au-c-card--divided > * + * {
  border-top: .1rem solid $au-card-border-color;
}

// Expandable
.au-c-card__clickable {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color var(--au-transition);

  .au-c-card--shadow & {
    flex-direction: row-reverse;
  }

  .au-c-card--shadow.au-c-card--expandable-reversed & {
    flex-direction: row;
  }

  .au-c-card--expandable-reversed:not(.au-c-card--shadow) & {
    flex-direction: row-reverse;
  }

  .au-c-card.au-c-card--shadow:not(.au-c-card--expandable-reversed) & > * + * {
    padding-right: 0 !important;
  }

  .au-c-card.au-c-card--expandable-reversed:not(.au-c-card--shadow) & > * + * {
    padding-right: 0 !important;
  }
}

.au-c-card__toggle {
  cursor: pointer;
  flex: none;
  padding-left: 0;
  padding-right: 0;

  .au-c-card--padding-tiny & {
    padding-left: $au-unit-tiny;
    padding-right: $au-unit-tiny;
  }

  .au-c-card--padding-small & {
    padding-left: $au-unit-small;
    padding-right: $au-unit-small;
  }

  .au-c-card--padding & {
    padding-left: $au-unit;
    padding-right: $au-unit;
  }
}


// Header badge
.au-c-card__header {
  .au-c-badge {
    margin-bottom: $au-unit-small;
  }

  .au-c-badge--small {
    margin-right: $au-unit-small;
    margin-top: .3rem;
  }

  .au-c-card--flex & .au-c-badge {
    margin-bottom: 0;
  }
}

// Content
.au-c-card__content {
  flex-grow: 1;

  &:focus {
    outline: none !important;
  }
}

// Center text
.au-c-card--text-center {
  text-align: center;

  .au-c-card__clickable {
    justify-content: center;
  }

  .au-c-card__header {
    justify-content: center;
    align-items: center;
    width: auto;
  }

  &:not(.au-c-card--flex) .au-c-badge {
    margin-right: 0;
  }
}

// Flex
.au-c-card--flex.au-c-card--expandable .au-c-card__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  > *:nth-child(2) {
    flex-grow: 2;
  }

  .au-c-badge {
    margin-bottom: 0;
  }
}

.au-c-card--flex:not(.au-c-card--expandable) .au-c-card__header {
  display: flex;
}
