/* ==================================
   #CONTAINER
   ================================== */

/* Variables
   ========================================================================== */

$au-container-height: calc(100vh - #{$au-unit-large - $au-unit-tiny}) !default;

/* Component
   ========================================================================== */

.au-c-container {
  height: $au-container-height;
  overflow: auto;
  position: relative;

  @include mq(small) {
    overflow: hidden;
  }
}

  .au-c-container__content {
    position: relative;
    overflow: auto;

    @include mq(small) {
      height: $au-container-height;
    }
  }
