/* ==================================
   #FILE UPLOAD
   ================================== */

.au-c-file-upload-box {
  border: 0.1rem solid var(--au-gray-200);
  background-color: var(--au-white);
  margin-bottom: $au-unit;
}

.au-c-file-upload {
  border: 0.2rem dashed var(--au-gray-300);
  background-color: var(--au-white);
  transition: background var(--au-transition);

  &:hover {
    background-color: var(--au-gray-100);
  }

  &:focus,
  &:focus-within {
    background-color: var(--au-gray-100);
    outline: var(--au-outline);
  }
}

.au-c-file-upload input,
.file-upload input[hidden] {
  display: block !important;
  height: 0;
  width: 0;
  outline: 0;
}

.au-c-file-upload-message {
  @include au-font-size(var(--au-h5));
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--au-gray-600);
  background-color: var(--au-gray-100);
  padding: $au-unit + ($au-unit-tiny * 0.5) $au-unit-small;

  > .au-c-help-text {
    margin-top: 0;
  }
}

.au-c-file-upload-label {
  @include au-font-size(var(--au-h5));
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: $au-unit-small $au-unit-small;
  text-align: center;
  transition: background-color var(--au-transition);

  &,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
    color: var(--au-gray-900);
  }
}

.au-c-file-upload-label__title {
  @include au-font-size(var(--au-h5));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--au-blue-700);
  text-decoration: underline;
  text-decoration-color: var(--au-blue-300);

  &:hover {
    color: var(--au-blue-700);
    text-decoration-color: var(--au-blue-200);
  }
}
