/* ==================================
   #Fieldset
   ================================== */

/* Component
  ========================================================================== */

.au-c-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $au-unit-small;
}

.au-c-fieldset--inline {
  flex-direction: row;
  gap: $au-unit;
}

.au-c-fieldset--pre,
.au-c-fieldset--post {
  align-items: stretch;
  gap: 0;
}

.au-c-fieldset__legend {
  @include au-font-size(var(--au-h6));
  color: var(--au-gray-900);
  font-family: var(--au-font);
  font-weight: var(--au-medium);
  display: flex;
  align-items: center;

  > .au-c-pill {
    margin-left: $au-unit-tiny;
  }

  .au-c-fieldset--inline & {
    min-height: $au-unit-large - $au-unit-small;
  }

  .au-c-fieldset--pre &,
  .au-c-fieldset--post & {
    padding-right: $au-unit-small;
    padding-left: $au-unit-small;
    background-color: var(--au-gray-100);
    border: .1rem solid var(--au-gray-300);
    border-radius: var(--au-radius);
  }
}

.au-c-fieldset__legend--error,
.au-c-fieldset__legend--warning {
  position: relative;
}

.au-c-fieldset__legend-addendum {
  position: relative;
  bottom: .5ex;
  font-weight: var(--au-regular);
  margin-left: $au-unit-tiny*.5;
  color: var(--au-gray-500);
}

.au-c-fieldset__content {
  display: flex;
  flex-direction: column;
  gap: $au-unit-small;

  .au-c-fieldset--inline & {
    flex-direction: row;
    gap: $au-unit;
    width: 100%;
    min-height: $au-unit-large - $au-unit-small;
    align-items: center;
  }

  .au-c-fieldset--pre &,
  .au-c-fieldset--post & {
    padding: 0 $au-unit-small;
  }
}
