/* ==================================
   #LINKS
   ================================== */

/* Variables
   ========================================================================== */

// $au-label-color             : $au-primary !default;
// $au-label-error-color       : $au-error !default;

$au-input-height                : $au-unit-large - $au-unit-small !default;
$au-input-color                 : $au-black !default;
$au-input-border-color          : $au-neutral-light !default;
$au-input-font-size             : $au-h6 !default;

$au-button-font-size         : $au-h6 !default;
$au-button-border            : .2rem !default;
$au-button-color             : $au-primary !default;
$au-button-fg-color          : $au-white !default;
$au-button-hover-color       : $au-primary-light !default;
$au-button-active-color      : $au-primary-light !default;
$au-button-visited-color     : $au-primary-dark !default;
$au-button-active-color      : $au-primary-dark !default;
$au-button-underline         : $au-primary-light !default;
$au-button-underline-hover   : $au-primary-lighter !default;
$au-button-error-color       : $au-error-dark !default;
$au-button-error-hover-color : $au-error !default;
$au-button-disabled-color    : $au-neutral-darker !default;
$au-button-disabled-fg-color : $au-neutral-dark !default;


/* Component
  ========================================================================== */

.au-c-input {
  border: 1px solid $au-input-border-color;
  color: $au-input-color;
  font-size: $au-input-font-size;
  font-weight: $au-regular;
  font-family: $au-font;
  height: $au-input-height;
  max-width: 100%;
  padding: 0 $au-unit-small .1ex; // Visually center the text in the button
}

.au-c-input:focus {
  outline: none;
  border-color: $orange;
  box-shadow: inset 0 0 0 1px $orange;
}

/* Modifiers
  ========================================================================== */

.au-c-input--block {
  display: block;
  width: 100%;
}

.au-c-input--error {
  border-bottom-color: $au-red;
}
