/* ==================================
   #INPUT
   ================================== */

/* Variables
   ========================================================================== */

$au-input-height                    : $au-unit-large - $au-unit-small !default;
$au-input-color                     : $au-gray-1000 !default;
$au-input-border-color              : $au-gray-300 !default;
$au-input-disabled-background-color : $au-gray-100 !default;
$au-input-disabled-border-color     : $au-gray-600 !default;
$au-input-disabled-color            : $au-gray-700 !default;
$au-input-font-size                 : $au-h6 !default;


/* Component
  ========================================================================== */

.au-c-input {
  border: .1rem solid $au-input-border-color;
  color: $au-input-color;
  font-size: $au-input-font-size;
  font-weight: $au-regular;
  font-family: $au-font;
  height: $au-input-height;
  max-width: 100%;
  padding: 0 $au-unit-small .1ex;
}

.au-c-input:focus {
  outline: none;
  border-color: $au-yellow-400;
  box-shadow: inset 0 0 0 .1rem $au-yellow-400;
}

/* Modifiers
  ========================================================================== */

.au-c-input--block {
  display: block;
  width: 100%;
}

.au-c-input--error {
  border: .3rem solid $au-red-600;
}

.au-c-input--disabled {
  background-color: $au-input-disabled-background-color;
  border-color: $au-input-disabled-border-color;
  color: $au-input-disabled-color;
  cursor: not-allowed;
}
