/* ==================================
   #LIST NAVIGATION
   ================================== */

/* Variables
   ========================================================================== */

$au-list-navigation-border-color: $au-neutral-lighter !default;


/* Component
   ========================================================================== */

.au-c-list-navigation {
  @include au-font-size($au-base);
  border-top: 1px solid $au-list-navigation-border-color;

  @include mq(small) {
    @include au-font-size(1.5rem);
  }
}

  .au-c-list-navigation__item {
    & + & {
      border-top: 1px solid $au-list-navigation-border-color;
    }
  }

  .au-c-list-navigation__item--section {
    @include au-font-size(1.4rem,.7);
    padding: $au-unit-tiny $au-unit-large;
    font-weight: $au-medium;
    color: $au-neutral;
    text-transform: uppercase;

    @include mq(small) {
      padding: $au-unit-small * 1.5 $au-unit-small;
    }
  }

  .au-c-list-navigation__link {
    @include au-font-size($au-base,.7);
    display: flex;
    align-items: center;
    font-family: $au-font;
    transition: color $au-transition, text-decoration $au-transition;
    font-weight: $au-regular;
    padding: $au-unit-small * 1.5 $au-unit-small;
    text-decoration-color: $au-primary-lighter !important; // @TODO: remove important when webuniversum is removed
    text-decoration: underline;
    text-underline-offset: .3ex;

    &,
    &:visited {
      color: $au-primary;
    }

    &:hover,
    &:focus {
      color: $au-primary-light;
      text-decoration-color: $au-primary-lighter;
    }

    &:focus {
      outline: $au-outline;
      outline-offset: -.2rem;
    }

    &:focus:not(:focus-visible) {
      outline: none
    }

    // @TODO: change to state class > is-active
    &.active {
      font-weight: $au-medium;
      color: $au-neutral-darkest;
      text-decoration: none;
      box-shadow: inset -.3rem 0 0 $au-neutral-light;
      background-color: $au-neutral-lighter;
    }

    @include mq(small) {
      padding: $au-unit-small * 1.5 $au-unit-small;
    }
  }
