/* ==================================
   #LABELS
   ================================== */

/* Variables
   ========================================================================== */

$au-label-color                   : $au-gray-800 !default;
$au-label-error-badge-color       : $au-red-600 !default;
$au-label-error-badge-font-size   : 1.2rem !default;

/* Component
  ========================================================================== */

.au-c-label {
  @include au-font-size($au-h6);
  color: $au-label-color;
  font-family: $au-font;
  font-weight: $au-medium;
  margin-bottom: $au-unit-tiny;
  display: flex;
  align-items: center;

  > .au-c-pill {
    margin-left: $au-unit-tiny;
  }
}


/* Modifiers
  ========================================================================== */

.au-c-label--error {
  position: relative;

  &:before {
    content: "!";
    font-size: $au-label-error-badge-font-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $au-white;
    position: relative;
    background-color: $au-label-error-badge-color;
    width: $au-unit-small * 1.5;
    height: $au-unit-small * 1.5 - .05rem;
    border-radius: $au-unit-small * 1.5;
    margin-right: $au-unit-tiny;
  }
}
