/* ==================================
   #Legend
   ================================== */

/* Variables
   ========================================================================== */

$au-legend-color                   : var(--au-gray-900) !default;
$au-legend-height                  : $au-unit-large - $au-unit-small !default;
$au-legend-warning-badge-color     : var(--au-orange-500) !default;
$au-legend-error-badge-color       : var(--au-red-700) !default;
$au-legend-error-badge-font-size   : 1.2rem !default;

/* Component
  ========================================================================== */

.au-c-legend {
  @include au-font-size(var(--au-h6));
  color: $au-legend-color;
  font-family: var(--au-font);
  font-weight: var(--au-medium);
  margin-bottom: $au-unit-small;
  display: flex;
  align-items: center;

  > .au-c-pill {
    margin-left: $au-unit-tiny;
  }
}

.au-c-legend__addendum {
  position: relative;
  bottom: .5ex;
  font-weight: var(--au-regular);
  margin-left: $au-unit-tiny*.5;
  color: var(--au-gray-500);
}

/* Modifiers
  ========================================================================== */

.au-c-legend--error,
.au-c-legend--warning {
  position: relative;
}
