/* ==================================
   #PANEL
   ================================== */

.au-c-panel {
  display: flex;
  flex-direction: column;
  background-color: var(--au-white);
  border: .1rem solid var(--au-gray-200);
  border-radius: var(--au-radius);
}

.au-c-panel--active {
  background-color: var(--au-gray-100);
}

.au-c-panel__section {
  & + & {
    border-top: .1rem solid var(--au-gray-200);
  }
}
