/* ==================================
   #SIDEBAR
   ================================== */

/* Variables
   ========================================================================== */

$au-sidebar-background    : $au-neutral-lightest !default;
$au-sidebar-border        : $au-neutral-lighter !default;
$au-sidebar-header-padding: $au-unit-small !default;
$au-sidebar-footer-padding: $au-unit !default;

/* Component
   ========================================================================== */

.au-c-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $au-sidebar-background;
  border-bottom: 1px solid $au-sidebar-border;

  @include mq(small) {
    height: calc(100vh - #{$au-unit-large - $au-unit-tiny});
    border-bottom: 0;
    border-right: 1px solid $au-sidebar-border;
    overflow: auto;
  }
}

  .au-c-sidebar__header {
    padding: $au-sidebar-header-padding;
  }

  .au-c-sidebar__content {
    @include mq(small) {
      flex-grow: 1;
    }
  }

  .au-c-sidebar__footer {
    @include au-font-size($au-base);
    text-align: center;
    padding: $au-sidebar-footer-padding;
  }
