/* ==================================
   #TOOLBAR
   ================================== */

/* Variables
   ========================================================================== */

$au-toolbar-spacing         : $au-unit-small !default;
$au-toolbar-border-width    : .1rem !default;
$au-toolbar-border-color    : $au-gray-200 !default;
$au-toolbar-tint            : $au-gray-100 !default;
$au-toolbar-font-size       : $au-h6 !default;

/* Component
   ========================================================================== */

.au-c-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: $au-toolbar-font-size;
}

.au-c-toolbar__group {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  > * + * {
    margin-left: $au-toolbar-spacing;
  }

  .au-c-toolbar--small &,
  .au-c-toolbar--medium &,
  .au-c-toolbar--large & {
    margin: $au-toolbar-spacing/2;
  }
}

/* Modifiers
  ========================================================================== */

.au-c-toolbar--reverse {
  flex-direction: row-reverse;
}

.au-c-toolbar--top {
  border-top: $au-toolbar-border-width solid $au-toolbar-border-color;
}

.au-c-toolbar--bottom {
  border-bottom: $au-toolbar-border-width solid $au-toolbar-border-color;
}

.au-c-toolbar--tint {
  background-color: $au-toolbar-tint;
}

.au-c-toolbar--small {
  padding: $au-toolbar-spacing/2;
}

.au-c-toolbar--medium {
  padding: 0 $au-toolbar-spacing*1.5;
}

.au-c-toolbar--large {
  padding: $au-toolbar-spacing*1.5;
}

.au-c-toolbar__group--center {
  align-items: center;
}
