/* ==================================
   #TOGGLE SWITCH
   ================================== */

/* Variables
   ========================================================================== */
$au-toggle-height                               : 2rem         !default; 
$au-toggle-width                                : 2rem         !default;  
$au-toggle-border-radius                        : 1rem         !default;
$au-toggleswitch-background-color               : $au-gray-200 !default;
$au-toggle-border-width                         : .1rem        !default;
$au-toggle-border-color                         : $au-gray-300 !default;
$au-toggle-background-color                     : $au-white    !default;
$au-toggle-background-color-disabled            : $au-gray-200 !default;
$au-toggleswitch-background-color-on            : $au-blue-600 !default;
$au-toggleswitch-background-color-disabled      : $au-gray-400 !default;

/* Component
  ========================================================================== */

.au-c-toggleswitch {
  position: relative;
  display: inline-block;
  height: 1.6rem;
  width: 3.5rem;
}


.au-c-toggleswitch input {  
  opacity: 0;
  width: 0;
  height: 0;

}

.au-c-toggleswitch__toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $au-toggleswitch-background-color;
  border-radius: $au-toggle-border-radius;
  transition: transform 2s;

}

.au-c-toggleswitch__toggle:before {
  background:$au-toggle-background-color;
  position: absolute;
  content: '';
  border-radius: $au-toggle-border-radius;
  border: $au-toggle-border-width solid $au-toggle-border-color;
  left:0;
  bottom: -.2rem;
  height: $au-toggle-height;
  width: $au-toggle-width;
  transition: transform ;

}

/* Checked state */
.au-c-toggleswitch__input:checked + .au-c-toggleswitch__toggle {
  background-color:$au-toggleswitch-background-color-on;

} 

.au-c-toggleswitch__input:checked + .au-c-toggleswitch__toggle:before {
    transform: translateX(1.6rem);

  }


/* Focus */
.au-c-toggleswitch__input:focus + .au-c-toggleswitch__toggle {
  outline: $au-outline;
  outline-offset: .2rem;

}

/* Disabled */
.is-disabled .au-c-toggleswitch__toggle {
  background-color: $au-toggleswitch-background-color-disabled;
  border-radius: $au-toggle-border-radius;
  cursor:not-allowed;

}
  
.is-disabled .au-c-toggleswitch__toggle:before {
  background-color: $au-toggle-background-color-disabled;
  border: $au-toggle-border-width solid $au-toggle-border-color;
    
}


/* Disabled and checked*/
.is-checked-disabled .au-c-toggleswitch__toggle {
  opacity: 0.5;

}

