/* ==================================
   #TOGGLE SWITCH
   ================================== */

/* Variables
   ========================================================================== */
$au-toggle-switch-height                         : 2rem         !default;
$au-toggle-switch-width                          : 2rem         !default;
$au-toggle-switch-border-radius                  : 1rem         !default;
$au-toggle-switch-border-width                   : .1rem        !default;
$au-toggle-switch-border-color                   : var(--au-gray-300) !default;
$au-toggle-switch-color                          : var(--au-white) !default;
$au-toggle-switch-background-color               : var(--au-gray-200) !default;
$au-toggle-switch-color-disabled                 : var(--au-gray-200) !default;
$au-toggle-switch-background-color-disabled      : var(--au-gray-300) !default;
$au-toggle-switch-background-color-on            : var(--au-blue-700) !default;
$au-toggle-switch-background-color-on-disabled   : var(--au-gray-400) !default;

/* Component
  ========================================================================== */

.au-c-toggle-switch {
  position: relative;
  display: flex;
  align-items: center;
}

.au-c-toggle-switch__toggle {
  position: relative;
  cursor: pointer;
  height: $au-toggle-switch-height - .4rem;
  width: $au-toggle-switch-width * 1.5;
  background-color: $au-toggle-switch-background-color;
  border-radius: $au-toggle-switch-border-radius;
  transition: transform var(--au-transition), color var(--au-transition);

  &:before {
    content: '';
    position: absolute;
    height: $au-toggle-switch-height;
    width: $au-toggle-switch-width;
    background-color: $au-toggle-switch-color;
    border-radius: $au-toggle-switch-border-radius;
    border: $au-toggle-switch-border-width solid $au-toggle-switch-border-color;
    left: -.1rem;
    top: -.2rem;
    transition: transform var(--au-transition);
  }

  .is-disabled & {
    background-color: $au-toggle-switch-color-disabled;
    border-radius: $au-toggle-switch-border-radius;
    cursor: not-allowed;
  }

  .is-disabled &:before {
    background-color: $au-toggle-switch-background-color-disabled;
  }
}

.au-c-toggle-switch__label {
  @include au-font-size($au-h6);
  color: var(--au-gray-700);
  font-family: var(--au-font);
  font-weight: var(--au-regular);
  margin-left: $au-unit-tiny;

  .is-disabled & {
    color: var(--au-gray-600);
  }
}

// Checked state
.au-c-toggle-switch__input:checked + .au-c-toggle-switch__toggle {
  background-color: $au-toggle-switch-background-color-on;

  .is-disabled & {
    background-color: $au-toggle-switch-background-color-on-disabled;
  }
}

.au-c-toggle-switch__input:checked + .au-c-toggle-switch__toggle:before {
  transform: translateX($au-toggle-switch-width*.5 + .2rem);
}


// Focus
.au-c-toggle-switch__input:focus + .au-c-toggle-switch__toggle {
  outline: var(--au-outline);
  outline-offset: var(--au-outline-offset);
}
