.au-c-upload-box {
  border: .1rem solid $au-gray-200;
  background-color: $au-white;
  margin-bottom: $au-unit;
}


// Upload
.au-c-upload {
  border: 2px dashed $au-gray-300;
  background-color: $au-white;
  transition: background $au-transition;

  &:hover {
    background-color: $au-gray-100;
  }

  &:focus,
  &:focus-within {
    background-color: $au-gray-100;
    outline: .2rem solid $au-yellow-400;
  }
}

.au-c-upload input,
.file-upload input[hidden] {
  display: block !important;
  height: 0;
  width: 0;
  outline: 0;
}

.au-c-upload-message {
  @include au-font-size($au-h5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $au-gray-100;
  padding: $au-unit + $au-unit-tiny/4 $au-unit-small;
}

.au-c-upload-label {
  @include au-font-size($au-h5);
  display: flex;
  flex-direction: column;
  padding: $au-unit-small $au-unit-small;
  text-align: center;
  transition: background-color $au-transition;

  &,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
    color: $au-gray-800;
  }
}

.au-c-upload-label__title {
  @include au-font-size($au-h5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $au-blue-700;
  text-decoration: underline;
  text-decoration-color: $au-blue-300;

  &:hover {
    color: $au-blue-600;
    text-decoration: none;
  }
}


.upload + .au-o-grid {
  margin-top: $au-unit-small;
  padding-bottom: $au-unit-small;
}

.au-c-upload-image {
  display: block;
  position: relative;
  background-color: $au-gray-1000;

  img {
    position: relative;
    width: 100%;
    height: 70px;
    display: block;
    object-fit: contain;
  }

  @include mq(small) {
    img {
      height: 110px;
    }
  }

  @include mq(medium) {
    img {
      height: 110px;
    }
  }
}

.au-c-upload__file {
  position: relative;

  .au-c-close {
    top: $au-unit-tiny;
    right: $au-unit-tiny;
    z-index: 3;
    color: $au-gray-600;
    mix-blend-mode: multiply;
  }
}

.au-c-upload-download {
  padding:  $au-unit-tiny/2 $au-unit-tiny 0;
  margin-top: 0;
}
