/* ==================================
   #LABELS
   ================================== */

/* Variables
   ========================================================================== */

$au-validation-color             : $au-error !default;


/* Component
  ========================================================================== */

.au-c-validation {
  color: $au-validation-color;
  margin-top: $au-unit-tiny;
}
