// ==================================
// #GLOBAL
// ==================================

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Breakpoints
// ---
$mq-breakpoints: (
  tiny: 300px,
  xsmall: 500px,
  small: 767px,
  medium: 1023px,
  large: 1600px,
) !default;
// Uncomment line below to show breakpoint indicators
// $mq-show-breakpoints: (xsmall, small, medium, large);

// Spacing units
// ---
$au-unit-tiny: 0.6rem !default;
$au-unit-small: 1.2rem !default;
$au-unit: 2.4rem !default;
$au-unit-large: 4.8rem !default;
$au-unit-huge: 9.6rem !default;

// Objects settings
// ---
// Layout
$au-layout-width: 1280px !default;
$au-layout-width-small: 768px !default;
$au-layout-width-large: 1600px !default;
$au-layout-breakpoint: medium !default;

// Region
$au-region-breakpoint: medium !default;

// DEPRECATED - Use CSS variables instead
// ---
$au-global-font-size: 1.5rem !default;
$au-global-line-height: 1.5 !default;
$au-font:
  "flanders-sans",
  BlinkMacSystemFont,
  -apple-system,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif !default;
$au-font-secondary: "flanders-serif" !default;
$au-font-tertiary: courier, monospace !default;
$au-light: 300 !default;
$au-regular: 400 !default;
$au-medium: 500 !default;
$au-bold: 700 !default;
$au-base: $au-global-font-size !default;
$au-tiny: 1.3rem !default;
$au-small: 1.4rem !default;
$au-h-functional: 1.5rem !default;
$au-h6: 1.6rem !default;
$au-h5: 1.8rem !default;
$au-h4: 2rem !default;
$au-h3-small: 2.2rem !default;
$au-h3: 2.6rem !default;
$au-h2-small: 2.6rem !default;
$au-h2: 3.2rem !default;
$au-h1-small: 3rem !default;
$au-h1-medium: 4rem !default;
$au-h1: 4.4rem !default;
$au-page-bg: $au-white !default;
$au-select-text-color: $au-gray-900 !default;
$au-select-text-bg: $au-blue-200 !default;
$au-radius: 0.3rem !default;
$au-border: 0.2rem !default;
$au-outline-border: 0.3rem !default;
$au-outline-border-style: solid !default;
$au-outline: $au-outline-border $au-outline-border-style
  rgba($au-blue-600, 0.65) !default;
$au-outline-offset: 0.2rem !default;
$au-outline-offset-negative: -0.3rem !default;
$au-duration: (1 * 0.125) + s !default;
$au-easing: cubic-bezier(0.19, 1, 0.22, 1) !default;
$au-transition: $au-duration $au-easing !default;
$au-z-index-alpha: 1 !default;
$au-z-index-beta: 2 !default;
$au-z-index-gamma: 3 !default;
