# build scripts
/lib/generate-icon-components.mjs

# compiled output
/dist/
/tmp/
/storybook-static/
# We don't want to publish the declaration files for the tests folder, but we can't prevent it
# with only a single tsconfig file and Glint doesn't support multiple tsconfig files yet.
/declarations/tests/

# misc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.github/
/.gitignore
/.prettierignore
/.prettierrc.js
/.stylelintignore
/.stylelintrc.js
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/.woodpecker/
/CONTRIBUTING.md
/ember-cli-build.js
/jsconfig.json
/RELEASE.md
/testem.js
/tests/
/tsconfig.declarations.json
/tsconfig.json
/yarn-error.log
/yarn.lock
.gitkeep
/.storybook
/stories/
/build-storybook.log
# These types are local types that are only needed for development of the addon
/types/
/unpublished-development-types/

# ember-try
/.node_modules.ember-try/
/npm-shrinkwrap.json.ember-try
/package.json.ember-try
/package-lock.json.ember-try
/yarn.lock.ember-try
