# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/storybook-static/
/addon/components/au-symbols/

# misc
/coverage/
!.*
.*/

# This is updated by lerna-changelog which doesn't confirm with the prettier formatting. Since we can't easily run prettier during releases we disable the formatting for now.
CHANGELOG.md

# ember-try
/.node_modules.ember-try/
