<div class="au-o-layout au-d-editor" data-current-page-index-target>
  {{yield}}

  {{!-- {{#if editCurrentPageUrl}}
    <div class="docs-mt-16 docs-mb-8" data-test-edit-page-link>
      <a href={{editCurrentPageUrl}}
        class="au-c-link">
        Edit this page
      </a>
    </div>
  {{/if}} --}}
</div>

{{!-- <div class="au-o-layout au-d-editor">
  <div class="au-d-pagination">
    <div class="au-d-pagination__left">
      {{#if docsRoutes.previous}}
        <div class="au-d-small">
          Previous
        </div>
        {{#link-to params=docsRoutes.previous.route
          class="au-c-link"}}
          {{docsRoutes.previous.label}}
        {{/link-to}}
      {{/if}}
    </div>

    <div class="au-d-pagination__right" data-test-next-link>
      {{#if docsRoutes.next}}
        <div class="au-d-small">
          Next
        </div>
        {{#link-to params=docsRoutes.next.route
          class="au-c-link"}}
          {{docsRoutes.next.label}}
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div> --}}
