/* ==================================
  #BODY CONTAINER
  ================================== */

.au-c-body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.au-c-body-container--scroll {
  overflow: auto;
}
