/* ==================================
   #PAGINATION
   ================================== */

/* Variables
   ========================================================================== */

/* Component
   ========================================================================== */

.au-c-pagination {
  @include au-font-size(var(--au-h6));
  display: flex;
  justify-content: space-between;
  width: 100%;
  container-type: inline-size;
}

.au-c-pagination__list {
  display: flex;
  justify-content: flex-start;
}

@container (width < 500px) {
  // On very small container sizes we hide the first/last page links since they are less useful than the next/previous links.
  .au-c-pagination-boundary-link {
    display: none;
  }
}
