/* ==========================================================================
   #COMPONENT HOLDER
   ========================================================================== */

.au-d-component {
  border: 1px solid $au-gray-100;
  background-color: tint($au-gray-100,50);
  border-radius: $au-radius;
}

  .au-d-component__contrast {
    box-shadow: 0 0 $au-unit-small rgba($au-gray-900,.1);
  }
