/* ==========================================================================
   #DOC DROPDOWN
   ========================================================================== */


.au-d-dropdown {
  position: relative;
  display: inline-block;

  &,
  &:visited {
    color: $au-dropdown-color;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: $au-dropdown-hover-color;
    background-color: $au-gray-100;
  }

  &:focus {
    outline: 0;
  }
}

  .au-d-dropdown__toggle {
    @include au-font-size($au-base,1);
    font-weight: $au-regular;
    color: $au-dropdown-color;
    display: flex;
    align-items: center;
    position: relative;
    padding: $au-unit-tiny;
    border-radius: $au-radius;
  }

  .au-d-dropdown__name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: $au-unit-large;

    @include mq(xsmall) {
      max-width: $au-unit-huge;
    }

    @include mq(small) {
      width: auto;
      max-width: $au-unit-huge*4;
    }
  }

  .au-d-dropdown__button {
    @include au-font-size($au-base,1);
    border: 0;
    padding: 0;
    margin-left: $au-unit-tiny;
    display: inline-flex;
    align-items: center;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &,
    &:visited,
    &:hover,
    &:focus {
      color: inherit;
    }

    &:focus {
      outline: 0;
    }
  }

.au-d-dropdown-list {
  display: flex;
  flex-direction: column;
}

  .au-d-dropdown-list__link {
    @include au-font-size($au-base,1.5);
    font-family: $au-font;
    font-weight: $au-regular;
    padding: $au-unit-tiny $au-unit-small;
    border: 0;
    appearance: none;
    -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
    position: relative;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    text-underline-offset: .3ex;
    text-decoration: underline;
    text-decoration-color: $au-gray-300;
    color: $au-gray-800;
    background-color: transparent;
    transition: color $au-transition;
    cursor: pointer;

    &:hover {
      color: $au-gray-700;
      background-color: transparent;
      text-decoration: underline;
      text-decoration-color: tint($au-gray-700,80);
    }

    &:focus {
      outline: .1rem dashed $au-gray-300;
      outline-offset: $au-outline-offset-negative;
    }

    &:focus:not(:focus-visible) {
      outline: 0;
    }

    &:active {
      background-color: transparent;
    }

    &:visited {
      background-color: transparent;
    }
  }

.ember-modal-dialog.ember-modal-dialog-target-attachment-right {
  position: absolute;
  z-index: $au-z-index-beta;
  background-color: $au-white;
  border-radius: $au-radius;
  box-shadow: 0 0 $au-unit-tiny rgba($au-gray-700,.2), 0 0 $au-unit rgba($au-gray-700,.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: $au-unit + $au-unit-small !important;
  right: $au-unit-small + $au-unit-tiny*.5 !important;
  transform: none !important;
  left: auto !important;
  width: auto;
  top: $au-unit + $au-unit-tiny;
  box-shadow: 0 0 12px rgba($au-gray-900,.15), 0 0 2px rgba($au-gray-900,.1);
  border-radius: $au-radius;

  &:after, &:before {
    bottom: 100%;
    right: $au-unit-tiny;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba($au-white, 0);
    border-bottom-color: $au-white;
    border-width: 4px;
    margin-left: -4px;
  }

  &:before {
    border-color: rgba($au-white, 0);
    border-bottom-color: $au-gray-200;
    border-width: 4px;
    margin-left: -4px;
  }

  &:focus {
    outline: 0;
  }
}
