// Style addon-docs

.docs-shadow {

}

.docs-max-w-site-container {
  width: 100%;
}

.docs-flex {
  display: flex;
}

.docs-flex-1 {
  flex-grow: 1;
}

.docs-items-center {
  align-items: center;
}

.AddonDocs-DocsViewer-Nav {

}
