/* ==================================
   #SAY CONTAINER
   ================================== */

// ==================================
// #THEME
// ==================================

// Define the look of the Say Editor by changing the variables.


// UI
// ---
// Display options
$say-paper                       : true !default; // True = displays a paper like background.
$say-paper-sidebar               : true !default; // True = adds space for a sidebar to the right.
$say-toolbar-bottom              : false !default; // True = position the toolbar at the bottom.


// EDITOR
// ---
// Editor spacing and background
$say-editor-padding              : $au-unit !default;
$say-editor-background           : $au-gray-100 !default;
$say-editor-sidebar-medium       : 30% !default;
$say-editor-sidebar-large        : 30% !default;

// Paper spacing and background
$say-paper-min-height            : calc(100vh + #{$au-unit}) !default;
$say-paper-padding               : $au-unit-large !default;
$say-paper-background            : $au-white !default;
$say-paper-box-shadow            : 0 1px 3px rgba($au-gray-900, .1), 0 4px 20px rgba($au-gray-900, .035), 0 1px 1px rgba($au-gray-900, .025) !default;


// Semantic color variables
$say-primary-200                 : #F2E0FF !default;
$say-primary-300                 : #E1B8FF !default;
$say-primary-600                 : #A933FF !default;
$say-primary-700                 : #9000FA !default;
$say-primary-800                 : #7700ce !default;
$say-primary-900                 : #550094 !default;


// Typography
$say-font-family                 : BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$say-h1-font-family              : $say-font-family !default;
$say-h1-font-weight              : $au-medium !default;
$say-h1-font-size                : $au-h1 !default;
$say-h2-font-family              : $say-font-family !default;
$say-h2-font-weight              : $au-medium !default;
$say-h2-font-size                : $au-h2 !default;
$say-h3-font-family              : $say-font-family !default;
$say-h3-font-weight              : $au-medium !default;
$say-h3-font-size                : $au-h3 !default;
$say-h4-font-family              : $say-font-family !default;
$say-h4-font-weight              : $au-medium !default;
$say-h4-font-size                : $au-h4 !default;
$say-h5-font-family              : $say-font-family !default;
$say-h5-font-weight              : $au-medium !default;
$say-h5-font-size                : $au-h5 !default;
$say-h6-font-family              : $say-font-family !default;
$say-h6-font-weight              : $au-medium !default;
$say-h6-font-size                : $au-h6 !default;
$say-base-font-family            : $say-font-family !default;
$say-base-font-weight            : $au-regular !default;
$say-base-font-size              : $au-base !default;
$say-small-font-size             : $au-base !default;
$say-smaller-font-size           : 1.4rem !default;
$say-smallest-font-size          : 1.2rem !default;
$say-typography-margin           : $au-unit-small !default;
$say-editor-private-color        : $au-gray-900 !default;
$say-editor-highlight-color      : $au-yellow-200 !default;
$say-editor-highlight-hover-color: $au-yellow-100 !default;


// TOOLBAR
// ---
$say-toolbar-background          : $au-gray-200 !default;
$say-toolbar-border              : tint($au-gray-300,30) !default;
$say-toolbar-height              : 44px !default;


// BUTTONS
// ---

// Button
$say-button-height               : $au-unit + $au-unit-tiny !default;
$say-button-font-family          : $say-font-family !default;
$say-button-font-size            : $au-base !default;
$say-button-font-weight          : $au-regular !default;
$say-button-border               : .1rem !default;
$say-button-border-color         : $say-primary-700 !default;
$say-button-border-hover-color   : $say-primary-600 !default;
$say-button-color                : $au-white !default;
$say-button-hover-color          : $au-white !default;
$say-button-bg-color             : $say-primary-700 !default;
$say-button-bg-hover-color       : $say-primary-600 !default;
$say-button-radius               : $au-radius !default;

// Secondary button
$say-button-secondary-color                : $au-gray-800 !default;
$say-button-secondary-hover-color          : $au-gray-700 !default;
$say-button-secondary-border-color         : $au-gray-300 !default;
$say-button-secondary-border-hover-color   : $au-gray-300 !default;
$say-button-secondary-bg-color             : $au-white !default;
$say-button-secondary-bg-hover-color       : transparent !default;

// // Tertiary button
$say-button-tertiary-height                : $au-unit !default;
$say-button-tertiary-color                 : $au-gray-800 !default;
$say-button-tertiary-hover-color           : $au-gray-700 !default;
$say-button-tertiary-border-color          : transparent !default;
$say-button-tertiary-border-hover-color    : transparent !default;
$say-button-tertiary-bg-color              : $au-white !default;
$say-button-tertiary-bg-hover-color        : transparent !default;

// ANNOTATIONS
// ---
// Annotation options
$say-annotation-width            : $au-unit-huge*1.5 !default;
$say-annotation-offset           : $au-unit-large !default;
$say-annotation-gutter           : $au-unit !default;
$say-annotation-width-content    : $say-annotation-width !default;
$say-annotation-text-color       : $au-gray-700 !default;
$say-annotation-background-color : $au-gray-100 !default;


// INPUT
// ---

$say-input-height                    : $au-unit-large - $au-unit-small !default;
$say-input-color                     : $au-gray-1000 !default;
$say-input-background-color          : $au-white;
$say-input-border-color              : $au-gray-400 !default;
$say-input-focus-border-color        : $say-primary-300 !default;
$say-input-error-border              : $au-red-600 !default;
$say-input-radius                    : $au-radius;

$say-input-disabled-background-color : $au-gray-100 !default;
$say-input-disabled-border-color     : $au-gray-600 !default;
$say-input-disabled-color            : $au-gray-700 !default;
$say-input-font-size                 : $au-h6 !default;


// LABEL
// ---

$say-label-color                   : $au-gray-800 !default;


// HELP TEXT
// ---

$say-help-text-color             : $au-gray-800 !default;
$say-help-text-error-color       : $au-red-600 !default;
$say-help-text-font-size         : 1.4rem !default;


// CUSTOM EMBER-APPUNIVERSUM THEME
// ---

$au-outline: $au-outline-border $au-outline-border-style $say-primary-300;

$au-button-contrast-color                   : $say-primary-600 !default;
$au-button-contrast-hover-color             : $say-primary-800 !default;
$au-button-contrast-active-color            : $say-primary-900 !default;
$au-button-contrast-visited-color           : $say-primary-600 !default;
$au-button-secondary-color                  : $say-primary-600 !default;
$au-button-secondary-hover-color            : $say-primary-800 !default;
$au-button-secondary-contrast-active-color  : $say-primary-200 !default;
$au-button-link-color                       : $say-primary-600 !default;
$au-button-link-hover-color                 : $say-primary-800 !default;

$au-link-color                              : $say-primary-600 !default;
$au-link-hover-color                        : $say-primary-800 !default;
$au-toggle-switch-background-color-on       : $say-primary-600 !default;

:root {
  --duet-color-primary: #{$au-blue-600};
}


.say-container {
height: 100%;
position: relative;
overflow: hidden;
display: flex;
flex-direction: column;

@if $say-toolbar-bottom == true {
  flex-direction: column-reverse;
}
}

.say-container__main {
  overflow: auto;
}

.say-container__aside {
  position: absolute;
  bottom: 0;
  right: $au-unit-small + $au-unit-tiny;
  width: 380px;
  max-height: 100%;
  overflow: auto;
  padding: $au-unit-small $au-unit-small + $au-unit-tiny;

  @if $say-toolbar-bottom == true {
    top: 0;
    bottom: auto;
  }

  @if $say-paper == true and $say-paper-sidebar == true {
    top: 0;
  }

  @if $say-paper == true and $say-toolbar-bottom == true and $say-paper-sidebar == false {
    top: 0;
  }

  @if $say-paper == true and $say-toolbar-bottom == true and $say-paper-sidebar == true {
    top: 0;
  }

  @include mq(medium) {
    width: $say-editor-sidebar-medium;

    @if $say-paper == true and $say-paper-sidebar == true {
      padding: $au-unit;
      bottom: auto;
    }
  }

  @include mq(1280px) {
    width: calc(#{$say-editor-sidebar-large} - #{$au-unit-small + $au-unit-tiny});
  }
}

/* ==================================
   #SAY EDITOR STYLES
   ================================== */

.say-editor {
  background-color: $say-paper-background;
  padding: $say-editor-padding $say-editor-padding/2;
  width: 100%;
  position: relative;

  @if $say-paper == true {
    background-color: $say-editor-background;
  }

  @include mq(small) {
    padding: $say-editor-padding;
  }

  @include mq(medium) {
    @if $say-paper == true {
      @if $say-paper-sidebar == true {
        padding-right: $say-editor-sidebar-medium;
      }
    }
  }

  @include mq(1280px) {
    &.rdfa-annotations-hover {
      padding-left: $say-annotation-width;
    }

    @if $say-paper == true {
      @if $say-paper-sidebar == true {
        padding-right: $say-editor-sidebar-large;
      }
    }
  }
}

.say-editor__paper {
  position: relative;
  width: 100%;
  min-height: $say-paper-min-height;

  &:focus {
    outline: none;
  }

  @if $say-paper == true {
    background-color: $say-paper-background;
    padding: $say-paper-padding;
    box-shadow: $say-paper-box-shadow;
  }
}

.say-editor__paper--disabled {
  background-color: $say-editor-background;
  color: $au-gray-700;
}

.say-editor__inner {
  position: relative;
  min-height: $say-paper-min-height;

  // Remove start styles
  &:focus {
    outline: 0;
  }

  // Add max-width when paper view is disabled
  @if $say-paper == false {
    * {
      max-width: 120ch;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @if $say-paper == true {
    min-height: calc(#{$say-paper-min-height} - #{$say-paper-padding} * 2);
  }
}

/* ==================================
   #SAY EDITOR HINTS
   ================================== */

.say-editor-hints {
  display: block;
  position: relative;
}

.say-editor-hints__list {
  position: relative;
  width: 100%;

  @include mq(medium) {
    width: auto;
    max-width: 100%;
  }
}

.say-editor-hints__list-item {
  margin-bottom: $au-unit-small;
}
