/* ==================================
   #APP CHROME
   ================================== */

/* Variables
   ========================================================================== */

$au-brand-divider-rotation     : -20deg !default;


/* Component
  ========================================================================== */

.au-c-app-chrome {
  position: relative;
  z-index: 8;
  background-color: $au-white;
  box-shadow: 0 1px 3px rgba($au-gray-900, .1), 0 4px 20px rgba($au-gray-900, .035), 0 1px 1px rgba($au-gray-900, .025);
}

.au-c-app-chrome__entity {
  position: relative;
  font-weight: $au-medium;
  padding-left: $au-unit-small;
  margin-left: $au-unit-small;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: .1rem;
    left: 0;
    transform: rotate($au-brand-divider-rotation);
    width: .1rem;
    height: 2.3rem;
    background-color: $au-gray-300;
  }
}

.au-c-app-chrome__status {
  font-style: italic;
  display: inline-flex;
  align-items: center;
  height: $au-unit;
  line-height: $au-unit;
  color: $au-gray-600;
  padding: $au-unit-tiny/2;
}

.au-c-app-chrome__title {
  @include au-font-size($au-h4);
  display: block;
  position: relative;
  height: $au-unit + $au-unit-small;
  line-height: $au-unit + $au-unit-small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 $au-unit-tiny/2;
  border: .1rem solid transparent;
  border-radius: $au-radius;
  max-width: $au-unit-huge * 3.5;

  .au-c-button {
    // position: initial;
  }

  .au-c-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include mq(1140px) {
    max-width: $au-unit-huge * 4.5;
  }

  @include mq(1280px) {
    max-width: $au-unit-huge * 5.5;
  }

  @include mq(1340px) {
    max-width: $au-unit-huge * 6.5;
  }

  @include mq(large) {
    max-width: $au-unit-huge * 7.5;
  }

  @include mq(1500px) {
    max-width: $au-unit-huge * 8.5;
  }
}

.au-c-app-chrome__title--edit {
  transition: color $au-transition, border $au-transition;
  color: $au-gray-800;

  &:hover,
  &:focus {
    color: $au-gray-700;
    border: .1rem solid $au-gray-200;
  }

  &:focus {
    outline: .2rem dashed $au-yellow-400;
  }
}

.au-c-app-chrome__title-fade {
  color: $au-gray-600;
}

.au-c-app-chrome__title-group {
  display: flex;
  flex-wrap: nowrap;
  width: $au-unit-huge * 3.5;

  @include mq(medium) {
    width: $au-unit-huge * 3.5;
  }

  @include mq(1140px) {
    width: $au-unit-huge * 4.5;
  }

  @include mq(1280px) {
    width: $au-unit-huge * 5.5;
  }

  @include mq(1340px) {
    width: $au-unit-huge * 6.5;
  }

  @include mq(large) {
    width: $au-unit-huge * 7.5;
  }

  @include mq(1500px) {
    width: $au-unit-huge * 8.5;
  }
}

.au-c-app-chrome__title-input {
  @include au-font-size($au-h4);
  font-family: $au-font;
  display: block;
  width: 100%;
  padding: 0 $au-unit-tiny/2;
  height: $au-unit + $au-unit-small;
  line-height: $au-unit + $au-unit-small;
  border: .1rem solid $au-gray-300;
  border-radius: $au-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: $au-gray-800;

  &:focus {
    outline: 0;
  }
}

.au-c-button.au-c-app-chrome__title-button {
  border-color: $au-gray-300;
  border-top-right-radius: $au-radius;
  border-bottom-right-radius: $au-radius;
  border-left: 0;
  padding-left: $au-unit-tiny;
  padding-right: $au-unit-tiny;

  &:hover {
    border-color: $au-gray-300;
    box-shadow: none;
    background-color: $au-gray-100;
    color: $au-gray-800;
  }

  .au-c-icon {
    width: 1.9rem;
    height: 1.9rem;
  }
}

// Toolbar extensions
.au-c-toolbar--wrap {
  flex-wrap: wrap;

  @include mq(medium) {
    flex-wrap: nowrap;
  }
}
