/* ==========================================================================
   #NAV
   ========================================================================== */

.au-d-nav {
  @include au-font-size($au-base);
  width: 100%;
}

  .au-d-nav__intro {
    @include au-font-size($au-base,1.2);
    font-family: $au-font;
    color: $au-neutral-dark;
  }

  .au-d-nav__title {
    @include au-font-size($au-base);
    color: $au-neutral-dark;
    font-weight: $au-medium;
    margin-bottom: $au-unit-tiny;
  }
