/* ==========================================================================
   #SIDEBAR
   ========================================================================== */

.au-d-sidebar {
  background-color: $au-gray-100;
  border-top: 1px solid $au-gray-200;

  @include mq(small) {
    border-top: 0;
    border-right: 1px solid $au-gray-200;
    position: fixed;
    left: 0;
    height: 100%;
    overflow: auto;
  }
}
