/* ==================================
   #THEME
   Various color themes
   ================================== */

.au-d-theme-white {
  color: var(--au-gray-800);
  background-color: var(--au-white);
}

.au-d-theme-neutral-lightest {
  color: var(--au-gray-900);
  background-color: var(--au-gray-100);
}
