/* ==================================
   #SHAME
   ================================== */

// Temporary styles
.au-d-small {
  @include au-font-size(1.4rem);
}

// Disable focus on content and main element
#content,
#main {
  &:focus {
    outline: 0 !important;
  }
}

// Fix spacing for dropdowns
// @TODO: find cleaner solution to make spacing consistent
.au-c-list-horizontal__item {
  .au-d-dropdown {
    margin-left: -$au-list-horizontal-spacing*.5;
  }
}

// Fix additional scroll bars
// @TODO: find the cause of this and fix in a better way
.ember-application {
  overflow: hidden;
}
