/* ==================================
   #SHAME
   ================================== */

// Temporary styles
.au-d-small {
  @include au-font-size(1.4rem);
}

// Disable focus on content and main element
#content,
#main {
  &:focus {
    outline: 0 !important;
  }
}

// Fix spacing for dropdowns
// @TODO: find cleaner solution to make spacing consistent
.au-c-list-horizontal__item {
  .au-d-dropdown {
    margin-left: -$au-list-horizontal-spacing/2;
  }
}



// TIME PICKER

// REMOVE DEFAULT INPUT:NUMBER ARROWS

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

//MAIN

.au-time-picker{

}

.au-time-picker_wrapper{
  background-color: white;
  padding: 1rem .5rem;
  display: flex;
  align-items: center;
  max-width: 310px;
  min-width: 290px;

}

.au-time-picker_box{
  position: relative;
  max-width:  33.333%;
  border: none;
}

.au-time-picker_label{
  position: absolute;
  bottom: 100%;
}

.au-time-picker_input-wrapper{
  position: relative;
}

.au-time-picker_input{
  padding: 1rem;
  max-width: 100%;
  border-radius: 0px;
  appearance: none;
  border: 1px solid rgb(134, 134, 134);
}

.au-time-picker_button-wrapper{
  position: absolute;
  right: 0;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  top: 1px;
  right: 1px;
  border-left: .5px solid rgb(119, 119, 119);
}

.au-time-picker_button{
  font-weight: bold;
  background-color: rgb(245, 245, 245);
  height: 50%;
  border: none;

  &:last-child{
    border-top: .5px solid rgb(119, 119, 119);;
  }
}

.au-time-picker_seperator{
  font-weight: bold;
  padding: .5rem;
}

