<div
  class="au-c-control-group {{this.alignmentClass}}"
  role="group"
  ...attributes
  data-test-checkbox-group
>
  {{yield
    (hash
      Checkbox=(component
        this.GroupCheckbox
        groupValue=@value
        disabled=@disabled
        onChangeGroup=@onChange
      )
    )
  }}
</div>