<a role="button" class="data-table__header-title--sortable {{if isSorted " data-table__header-title--sortable-active"}}" {{action "inverseSorting"}}>
  {{label}}
  {{#if (eq order "desc")}}
    <span class="u-visually-hidden">Oplopend sorteren</span>

  {{else}}
    <span class="u-visually-hidden">Aflopend sorteren</span>

  {{/if}}
</a>
