<div class="au-c-loader {{this.padding}}" ...attributes>
  <div class="au-c-loader__animation" aria-hidden="true"></div>
  {{#unless @disableMessage}}
  <span class="au-u-hidden-visually">{{this.message}}</span>
  {{/unless}}
</div>