<span class="au-c-pill {{this.skin}}" ...attributes>
  {{#if @icon}}
    {{#if (not-eq @iconAlignment "right")}}
    <AuIcon @icon="{{@icon}}" @alignment="left" />
    {{/if}}
  {{/if}}
  {{yield}}
  {{#if @icon}}
    {{#if (eq @iconAlignment "right")}}
    <AuIcon @icon="{{@icon}}" @alignment="right" />
    {{/if}}
  {{/if}}
</span>