<div
  class="au-c-control-group {{this.alignmentClass}}"
  role="group"
  ...attributes
>
  {{yield
    (hash
      Radio=(component
        "au-radio"
        name=(or @name this.uniqueName)
        inGroup=true
        groupValue=@value
        disabled=@disabled
        onChangeGroup=@onChange
      )
    )
  }}
</div>