{{yield}}
<h2>Default</h2>

<label class="au-c-toggleswitch {{this.disabled}}...attributes ">
  <input type="checkbox" disabled={{@disabled}}/>
  <span class="au-c-toggleswitch__toggle"></span>
  
</label>


<h2>Disabled</h2>

<label class="au-c-toggleswitch disabled">
  <input type="checkbox" disabled/>
  <span class="au-c-toggleswitch__toggle disabled"></span>
  
</label>