
<label class="au-c-toggleswitch {{if @disabled 'is-disabled'}} {{if (and @checked @disabled) 'is-checked-disabled'}}">
  <input type="checkbox" class="au-c-toggleswitch__input" disabled={{@disabled}} checked={{@checked}}/>
  <span class="au-c-toggleswitch__toggle"></span>
  
</label>