{{#if this.toaster.toasts.length}}
  <div class="au-c-toaster {{this.position}}">
    {{#each this.toaster.toasts as |toast|}}
      {{#let
        (component (ensure-safe-component toast.name) title=toast.title message=toast.message options=toast.options)
        as |ToastComponent|
      }}
        <ToastComponent />
      {{/let}}
    {{/each}}
  </div>
{{/if}}