<div class="au-c-data-table__search">
  <Input
    @value={{this.value}}
    placeholder={{this.placeholder}}
    class="au-c-input au-c-input--block"
  />
  <span class="au-c-data-table__search-icon">
    <AuIcon @icon="search" @size="large" />
  </span>
</div>