/* ==================================
   #FILE CARD
   ================================== */

/* Variables
   ========================================================================== */

$au-file-card-border-color: var(--au-gray-200) !default;
$au-file-card-radius: var(--au-radius) !default;

/* Component
     ========================================================================== */

.au-c-file-card {
  position: relative;
  background-color: var(--au-white);
  border: 0.1rem solid $au-file-card-border-color;
  border-radius: $au-file-card-radius;
}

.au-c-file-card__delete {
  position: absolute;
  appearance: none;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  top: $au-unit-small;
  right: $au-unit-small;
  color: var(--au-gray-700);
  cursor: pointer;

  &:hover {
    color: var(--au-gray-600);
  }

  &:focus {
    outline: $au-outline;
  }
}

.au-c-file-card__file-size {
  color: var(--au-gray-700);
  font-style: italic;
  font-weight: normal;
}
