/* ==========================================================================
   #FONT WEIGHTS
   ========================================================================== */

/**
 * Utility classes to put specific font-size values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .au-u-light {}
 *   .au-u-regular {}
 *   .au-u-medium {}
 *   .au-u-bold {}
 */

.au-u-light {
  font-weight: var(--au-light) !important;
}

.au-u-regular {
  font-weight: var(--au-regular) !important;
}

.au-u-medium {
  font-weight: var(--au-medium) !important;
}

.au-u-bold {
  font-weight: var(--au-bold) !important;
}
