/* ==========================================================================
   #OVERFLOW
   ========================================================================== */
/**
 * Utility classes to control content overflow.
 */

.au-u-overflow--auto {
  overflow: auto !important;
}

.au-u-overflow--hidden {
  overflow: hidden !important;
}

.au-u-overflow--clip {
  overflow: clip !important;
}

.au-u-overflow--visible {
  overflow: visible !important;
}

.au-u-overflow--scroll {
  overflow: scroll !important;
}

.au-u-overflow-x--auto {
  overflow-x: auto !important;
}

.au-u-overflow-x--hidden {
  overflow-x: hidden !important;
}

.au-u-overflow-x--clip {
  overflow-x: clip !important;
}

.au-u-overflow-x--visible {
  overflow-x: visible !important;
}

.au-u-overflow-x--scroll {
  overflow-x: scroll !important;
}

.au-u-overflow-y--auto {
  overflow-y: auto !important;
}

.au-u-overflow-y--hidden {
  overflow-y: hidden !important;
}

.au-u-overflow-y--clip {
  overflow-y: clip !important;
}

.au-u-overflow-y--visible {
  overflow-y: visible !important;
}

.au-u-overflow-y--scroll {
  overflow-y: scroll !important;
}
