<AuApp>
  <DocsHeader />

  <AuMainContainer as |m|>
    <m.sidebar>
      <Sidebar/>
    </m.sidebar>
    <m.content @scroll={{true}}>
      <div class="au-o-region-large au-d-theme-white">
        {{outlet}}
      </div>
    </m.content>
  </AuMainContainer>
</AuApp>