<DocsHeader />

<div class="au-c-container">
  <div class="au-o-grid au-o-grid--flush au-o-grid--stretch au-o-grid--reverse">
    <main id="main" class="au-o-grid__item au-u-3-4@small au-u-5-6@medium">
      <div class="au-c-container__content">
        <div id="content" class="au-o-region-large au-d-divider au-d-theme-white" tabindex="-1">
          {{outlet}}
        </div>
      </div>
    </main>
    <Sidebar/>
  </div>
</div>
