{{!-- <AuHeader @appTitle="Ember-Appuniversum"  @contactLink="#!">
  <a href="https://github.com/appuniversum/ember-appuniversum" class="au-c-button-link" target="_blank" rel="noopener noreferrer">
    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
      <path fill-rule="evenodd" d="M22.0174127,1.43756545 C33.6413697,1.43756545 43.1010976,10.862396 43.0661898,22.5212608 C43.0661898,31.8413752 37.0273304,39.7303063 28.6496997,42.522849 C27.6024963,42.7322892 27.218522,42.0690597 27.218522,41.5105517 C27.218522,40.8661188 27.2482629,38.8832474 27.2528384,36.3581393 L27.2534262,35.7160264 C27.2534262,33.7263392 26.5901972,32.4696965 25.8222485,31.8064675 C30.5346638,31.2828658 35.4565218,29.5026214 35.4565218,21.4042454 C35.4565218,19.1003959 34.6536654,17.2154318 33.2923031,15.7493464 C33.5017424,15.2257447 34.2347869,13.0615225 33.0828603,10.1642628 C33.0828603,10.1642628 31.3026159,9.60575336 27.2883374,12.3284815 C25.6128127,11.8746952 23.7976571,11.6303482 22.0174127,11.6303482 C20.2371648,11.6303482 18.4220128,11.8746952 16.746488,12.3284815 C12.732206,9.60575336 10.9519616,10.1642628 10.9519616,10.1642628 C9.80003508,13.0615225 10.5330796,15.2257447 10.7425188,15.7493464 C9.41606074,17.2154318 8.57830011,19.1003994 8.57830011,21.4042454 C8.57830011,29.5026214 13.5001547,31.3177735 18.1776658,31.8064675 C17.5842486,32.3300692 17.0257392,33.2725529 16.8512077,34.6339153 C15.6294692,35.1924247 12.5925786,36.1000007 10.7076146,32.8885786 C10.7076146,32.8885786 9.5905958,30.8639837 7.46128129,30.7243564 C7.46128129,30.7243564 5.40178221,30.7243564 7.32165394,32.0159068 C7.32165394,32.0159068 8.71792747,32.6442316 9.66041122,35.087705 C9.66041122,35.087705 10.8821462,38.8576366 16.746488,37.6009939 C16.746488,39.3463323 16.7813922,41.0218563 16.7813922,41.5105517 C16.7813922,42.0690597 16.3974179,42.7322892 15.3502145,42.522849 C6.97258731,39.7303063 0.933713852,31.8413752 0.933713852,22.5212643 C0.933713852,10.862396 10.3585445,1.43756545 22.0174127,1.43756545 Z M14.6084587,35.5414913 C14.8669096,35.5414913 15.0884416,35.7548156 15.0884416,36.0214723 C15.0884416,36.2881291 14.8669133,36.5014534 14.6084587,36.5014534 C14.3500078,36.5014534 14.1284795,36.2881291 14.1284795,36.0214723 C14.1284795,35.7548156 14.3500078,35.5414913 14.6084587,35.5414913 Z M16.719768,35.7009094 C16.7577801,35.9620036 16.5677234,36.223103 16.3016501,36.2753239 C16.0355691,36.3275396 15.8075041,36.170882 15.769492,35.9097879 C15.7314837,35.6486885 15.9215366,35.3875891 16.1876137,35.3353734 C16.4536909,35.2831472 16.6817597,35.43981 16.719768,35.7009094 Z M13.022466,35.3100895 C13.2880278,35.4136881 13.439772,35.6726743 13.4018378,35.9316657 C13.3638999,36.1906571 13.0983419,36.2942505 12.8327839,36.1906571 C12.567222,36.0870584 12.4154779,35.7762677 12.453412,35.5690809 C12.49135,35.3100895 12.756908,35.206496 13.022466,35.3100895 Z M11.7800468,34.5687625 C11.99042,34.743803 12.0324963,35.0501348 11.9062716,35.2251797 C11.7800468,35.4002247 11.4855169,35.3564623 11.2330674,35.1376551 C11.0226901,34.9188523 10.9385416,34.6125248 11.1068427,34.4812378 C11.2330674,34.3061929 11.5275932,34.3499552 11.7800468,34.5687625 Z M10.8527772,33.4390193 C11.0548699,33.6633748 11.0548699,33.9325979 10.8527772,34.0672094 C10.6506794,34.2018254 10.3475301,34.0672094 10.195958,33.8428584 C9.99386024,33.6185028 9.99386024,33.3044078 10.195958,33.2146638 C10.3980559,33.0800522 10.7012,33.2146638 10.8527772,33.4390193 Z M9.024072,31.4276253 C9.2657027,31.5743999 9.38652107,31.8679417 9.32611189,32.0880889 L9.31971385,32.1025655 L9.37002132,32.0670872 C9.53627344,31.9800856 9.7748112,32.0804756 9.96997757,32.261174 C10.1895397,32.5152823 10.2444317,32.8202083 10.0797614,32.9218537 C9.91509115,33.0743166 9.58574515,32.9726713 9.42107489,32.7693856 C9.24880304,32.6098846 9.1779057,32.3878116 9.23489709,32.2259027 C9.11426928,32.3314408 8.90149488,32.3438716 8.72203816,32.2348635 C8.48040746,32.0880889 8.29918595,31.7945471 8.41999828,31.5743925 C8.48040746,31.3542306 8.78244735,31.2808507 9.024072,31.4276253 Z"/>
    </svg>
    Github
  </a>
</AuHeader> --}}

<DocsHeader />

<div class="au-c-container">
  <div class="au-o-grid au-o-grid--flush au-o-grid--stretch au-o-grid--reverse">
    <main id="main" class="au-o-grid__item au-u-3-4@small au-u-5-6@medium">
      <div class="au-c-container__content">
        <div id="content" class="au-o-region-large au-d-divider au-d-theme-white" tabindex="-1">
          {{outlet}}
        </div>
      </div>
    </main>
    <Sidebar/>
  </div>
</div>
