{{#docs-viewer as |viewer|}}
  {{#viewer.main}}
    <h1>Ember Appuniversum</h1>
    <hr>

    <p>This is an early proof of concept of a new CSS framework for Flanders GOV applications.</p>

    <h2>The goal of this project is to:</h2>
    <ul>
      <li>establish a shared set of coding guidelines and best practices</li>
      <li>create and maintain accessible and reusable components</li>
      <li>create and maintain accessible and reusable components</li>
      <li>create and maintain a uniform but flexible identity suited for applications (a sibling to <a href="https://overheid.vlaanderen.be/webuniversum/v3/">Webuniversum</a>)</li>
      <li>promote the coöperation between different teams working on Flanders GOV applications</li>
    </ul>

    <h2>References:</h2>
    <ul>
      <li><a href="https://overheid.vlaanderen.be/webuniversum/v3/">Webuniversum V3</a></li>
      <li><a href="https://webcomponenten.omgeving.vlaanderen.be/doc/index.html">LNE webcomponents</a></li>
    </ul>
  {{/viewer.main}}
{{/docs-viewer}}
