<DocsViewer as |viewer|>
  <viewer.main>
    <h1>Ember Appuniversum</h1>
    <hr>

    <p>This is an overview of the ember-appuniversum components.</p>

    <h2>References:</h2>
    <ul>
      <li><a href="https://overheid.vlaanderen.be/webuniversum/v3/">Webuniversum V3</a></li>
      <li><a href="https://webcomponenten.omgeving.vlaanderen.be/doc/index.html">LNE webcomponents</a></li>
    </ul>
  </viewer.main>
</DocsViewer>