<li class="au-c-list-navigation__item">
  {{#if model}}
    {{#link-to route model
      class="au-c-list-navigation__link"
      activeClass="active"
      data-test-id="nav-item"
      data-test-label=label}}
      {{@label}}
    {{/link-to}}
  {{else}}
    {{#link-to route
      class="au-c-list-navigation__link"
      activeClass="active"
      data-test-id="nav-item"
      data-test-label=label}}
      {{@label}}
    {{/link-to}}
  {{/if}}
</li>