<aside class="au-o-grid__item au-u-1-4@small au-u-1-6@medium">
  <div class="au-c-sidebar">
    <div class="au-c-sidebar__content">
      {{#docs-viewer as |viewer|}}
        {{#viewer.nav as |nav|}}
          <li class="au-c-list-navigation__item">
            <a href="https://appuniversum.github.io/appuniversum" class="au-c-list-navigation__link au-c-list-navigation__link--highlight">
              <AuIcon @icon="back" @iconLeft="true" />
              Appuniversum
            </a>
          </li>
          {{nav.section "Atoms"}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @linkRoute="docs.atoms.au-button">
              Button
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @linkRoute="docs.atoms.au-navigation-link">
              Navigation link
            </AuNavigationLink>
          </li>
          {{nav.section "Components"}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @linkRoute="docs.components.au-popover">
              Popover
            </AuNavigationLink>
          </li>
          {{nav.section "Patterns"}}
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @linkRoute="docs.patterns.au-header">
              Header
            </AuNavigationLink>
          </li>
        {{/viewer.nav}}
      {{/docs-viewer}}
    </div>
    <div class="au-c-sidebar__footer au-d-small">
      <a href="https://github.com/ember-learn/ember-cli-addon-docs"
        class="au-c-link au-c-link--neutral">
        Powered by AddonDocs
      </a>
    </div>
  </div>
</aside>
